@font-face {
    font-family:'Manrope' ;
    src: url(./fonts/Manrope-VariableFont_wght.ttf) format('truetype');
    font-weight:200 300 800;
}
:root{
    --advice-font-size:28px;
    --light-cyan:hsl(193, 38%, 86%);
    --neon-green:hsl(150, 100%, 66%);
    --grayish-blue:hsl(217, 19%, 38%);
    --dark-grayish-blue:hsl(217, 19%, 24%);
    --dark-blue:hsl(218, 23%, 16%);
    --button-box-shadow:0px 0px 105px 45px var(--neon-green);
}
*,*::after,*::before{
    box-sizing: border-box;
    transition: all 0.7s ease-in-out;
}
::selection{
    color: var(--neon-green);
}
/*======================================*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--dark-blue);
    font-family: 'Manrope';
}
.container{
    background-color: var(--dark-grayish-blue);
    height: 21rem;
    width: 32rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 2rem;
}
.divider{
    background-image: url(./images/pattern-divider-desktop.svg);
    height: 1rem;
    background-position: center;
    width: 100%;
}
button{
    background-color: var(--neon-green);
    width: 3rem;
    height: 3rem;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
    position: absolute;
    transform: translateY(10.5rem);
}
.dice{
    background-image: url(./images/icon-dice.svg);
    background-position: center;
    height: 20px;
    width: 20px;
}
.advice-id{
    color: var(--neon-green);
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
    
}
.advice{
    font-size: var(--advice-font-size);
    color: var(--light-cyan);
    text-align: center;
    font-weight: 800;
    line-height: 1.3;
}
.advice::before {
    content: open-quote;
    font-size: 2em;
    line-height: 0;
    vertical-align: -0.4em;
    color: var(--neon-green);
}
.advice::after {
    content: close-quote;
    font-size: 2em;
    line-height: 0;
    vertical-align: -0.4em;
    color: var(--neon-green);
    
}
button:hover{
    box-shadow: var(--button-box-shadow);
}
@media screen and (max-width:550px) {
    .container{
        width: unset;
    }
    body{
        padding-inline: 2rem;
        justify-content: space-evenly;
        gap: 5rem;
    }
    .advice{
        font-size: 1.5rem;
    }
}
/*
#225763
#41d8bf
#2f89b3
#3b50b2
#33313b
#e3c4a8
#4592af
#f6f5f5
*/